*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper.product-page {
    margin-top: 140px;
}

.breadcrumbs__product-page {
    padding: 20px 0;
    border-bottom: 1px solid var(--color-primary);
}

.breadcrumbs__product-page a {
    text-decoration: none;
}

.breadcrumbs__product-page a:hover {
    text-decoration: underline;
}

.breadcrumbs__product-page span {}

main.product-page {
    margin-top: 50px;
}

/* Основний контент товару (дві колонки) */
.product-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.product-gallery {
    flex: 1;
    min-width: 715px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.main-product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.gallery-nav.prev {
    left: 10px;
}

.gallery-nav.next {
    right: 10px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.thumbnail-images img {
    width: 80px;
    /* Розмір прев'ю */
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
}

.thumbnail-images img.active {
    border-color: #8A2BE2;
}


.product-details {
    flex: 2;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 26px;
}

.product-rating .stars {
    display: flex;
    gap: 20px
}

.add-to-wishlist svg.icon-heart {
    stroke: var(--color-primary);
    fill: none;
}

.product-rating svg {
    fill: var(--color-primary);
    width: 37px;
    height: 37px;
}

.product-rating .reviews-count {
    font-size: 14px;
    color: var(--color-text-light-gray);
}

.add-to-wishlist {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #e0e0e0;
}

.product-title {
    color: var(--color-primary);
    font-size: 100px;
    line-height: 90%;
    letter-spacing: -2px;
}

.product-meta {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--color-text-light-gray);
}

.availability {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: var(--color-primary-darkest);
}

.availability svg {
    width: 16px;
}


.product-main-block {
    display: flex;
    gap: 55px;
}

.product-left-clm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.product-price {
    display: flex;
    align-items: baseline;
    gap: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    font-style: normal;
    line-height: 125%;
    margin-bottom: 20px;
}

.product-price .current-price {
    color: var(--color-primary);
    font-family: "Vela Sans";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -0.33px;
}

.product-price .current-price span.currency {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.14px;
    text-transform: uppercase;
}

.product-price .old-price {
    font-size: 20px;
    color: var(--color-text-light-gray);
    font-weight: 600;
    letter-spacing: -0.2px;
    text-decoration-line: line-through;
}

.product-price .old-price span.currency {
    font-size: 14px;
    letter-spacing: -0.14px;
    text-decoration-line: line-through;
}


.product-options {
    display: flex;
    gap: 20px;
}

.option-button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-text-light-gray);
    background: #FFF;
    font-size: 16px;
    color: var(--color-primary-darkest);
    font-family: "Vela Sans";
}

.option-button.active {
    border-color: #fff;
    background-color: var(--color-primary);
    color: #fff;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 7px 8px;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    background: var(--color-bg-light);
}

.quantity-selector button {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    background: #FFF;
}

.quantity-selector button svg {
    fill: var(--color-primary-darkest);
}

.quantity-minus {
    margin-left: 2px;
}

.quantity-plus {
    margin-right: 2px;
}

.quantity-selector .quantity-value {
    font-size: 16px;
}

.btn-add-to-cart {
    transform: rotate(-22deg);
    margin-top: 80px;

}

.product-right-clm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shipping-info,
.order-request {
    display: flex;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(7.5px);
    color: var(--color-primary-darkest);
}

.shipping-info {
    gap: 12px;
    font-size: 18px;
    line-height: 130%;
}

.shipping-info span {
    opacity: 0.6;
    font-weight: 600;
}

.shipping-info {
    font-size: 16px;
    font-style: normal;
}



.order-request {
    flex-flow: column;
    gap: 25px;
}

.order-request__first-line {
    display: flex;
    gap: 12px;
}

.product-right-clm svg {
    flex-shrink: 0;
}

.order-request p {
    font-size: 16px;
}

.request-callback-button {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    gap: 4px;
}

.request-callback-button::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

.request-callback-button:hover::after {
    width: 50%;
}

/* Секції-акордеони */
.product-accordion {
    margin-top: 20px;
}

.accordion-item {}

.accordion-item:first-child {
    border-top: 1px solid var(--color-border-dark-opacity);
}

.accordion-header {
    width: 100%;
    background: none;
    border-bottom: 1px solid var(--color-border-dark-opacity);
    padding: 20px 0;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-primary-darkest);
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.45px;
    text-transform: uppercase;
}

.accordion-header .star-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.accordion-header .icon-arrow-down {
    width: 10px;
    height: 10px;
    transition: transform 0.3s;
}

.accordion-header.active .svg {
    transform: rotate(-90deg);
}

.accordion-content {
    padding-bottom: 15px;
    font-size: 14px;
    display: none;
    overflow: hidden;
}

.accordion-content p {
    margin-bottom: 10px;
    /* Відступи для абзаців в акордеоні */
}

/* Адаптивність: стовпці стають один під одним на малих екранах */
@media (max-width: 768px) {
    .product-content {
        flex-direction: column;
        /* Зміна напрямку flex-контейнера */
    }

    .product-gallery,
    .product-details {
        min-width: unset;
        width: 100%;
        max-width: unset;
    }

    .add-to-cart-button {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .quantity-selector {
        margin-bottom: 15px;
    }
}

.product-extra {
    width: 89vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    align-items: start;
}

.product-extra__image-large img {
    height: 800px;
}

.product-extra__text-block img {
    height: 471px;
}

.product-extra__image-large img,
.product-extra__text-block img {
    width: 100%;
    display: block;
    border-radius: 12px;
}

.product-description {
    margin-top: 20px;
    color: var(--color-primary-darkest);
    line-height: 130%;
    width: 352px;
}

.product-description__fst_line {
    font-size: 20px;
    font-weight: 600;
}

.product-description__scnd_line {
    font-size: 16px;
    font-weight: 400;
}