/* ==========================================================================
   1. НАСТРОЙКИ И ПЕРЕМЕННЫЕ
   ========================================================================== */

:root {
    /* Цвета */
    --color-primary: #A578C7;
    --color-primary-dark: #633786;
    --color-primary-darker: #3A1755;
    --color-primary-darkest: #2D0E45;
    --color-bg-light: #F7F3F8;
    --color-bg-dark: #0F011D;
    --color-white: #FFFFFF;
    --color-border: rgba(165, 120, 199, 0.4);
    --color-border-light: rgba(165, 120, 199, 0.25);
    --color-planet-gray: #895EB1;

    /* Градиенты */
    --gradient-title-main: linear-gradient(91.17deg, #79EFFF -4.01%, #FD3CE3 36.14%, #912BFF 77.44%, #0095FF 106.11%);
    --gradient-title-secondary: linear-gradient(91.17deg, #0095FF -4.01%, #912BFF 24.67%, #FD3CE3 65.97%, #79EFFF 106.11%);
    --gradient-planet: linear-gradient(101.31deg, #5F268A 56.09%, rgba(145, 58, 212, 0.1) 170.31%);
    --gradient-planet-small: linear-gradient(75.75deg, #79EFFF 5.3%, #FD3CE3 81.8%, #912BFF 118.07%, #0095FF 157.78%);
    --gradient-btn-default: linear-gradient(136.68deg, #79EFFF -6.83%, #FD3CE3 13.92%, #912BFF 63.7%, #0095FF 101.57%);
    --gradient-btn-hover: linear-gradient(96.29deg, #FF03B5 18.76%, #EC05AF 63.37%, #B20A9B 102.94%);
    --gradient-price: linear-gradient(262.71deg, #0095FF -37.92%, #912BFF 0.41%, #FD3CE3 55.62%, #79EFFF 109.28%);
}

/* ==========================================================================
   2. БАЗОВЫЕ СТИЛИ И ШРИФТЫ
   ========================================================================== */

@font-face {
    font-family: 'Cramaten';
    src: url('../fonts/Cramaten.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'TRAP' 100;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/VelaSans-GX.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-light);
    overflow-x: hidden;
    height: clamp(1250.000px, 130.208vw, 2500.000px);
    font-family: 'Vela Sans', sans-serif;
}


/* ==========================================================================
   3. УТИЛИТАРНЫЕ КЛАССЫ
   ========================================================================== */

.text-gradient {
    -webkit-background-clip: text;
    background-clip: text;

    color: transparent !important;
    /* !important для переопределения базовых цветов */
}

.cta-button {
    width: clamp(71px, 7.396vw, 142px);
    height: clamp(71px, 7.396vw, 142px);
}


.section-divider {
    border: none;
    height: 1px;
    background-color: var(--color-primary);
    margin: clamp(37.500px, 3.906vw, 75.000px) 210px;
}


/* ==========================================================================
   4. КОМПОНЕНТЫ
   ========================================================================== */

/* --- Компонент: Заголовок --- */
.title {
    font-family: 'Cramaten', sans-serif;
    font-weight: 400;
    letter-spacing: -0.04em;
    background-clip: text !important;
    /* line-height убран отсюда и будет задаваться конкретным элементам */
}

/* --- Компонент: Кнопка --- */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Vela Sans', sans-serif;
    font-weight: 400;
    font-size: clamp(7.500px, 0.781vw, 15.000px);
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn--outline {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: clamp(6.000px, 0.625vw, 12.000px) 22px;
    gap: clamp(5.000px, 0.521vw, 10.000px);
    width: clamp(62.500px, 6.510vw, 125.000px);
    height: clamp(21.000px, 2.188vw, 42.000px);
    border-radius: clamp(100.000px, 10.417vw, 200.000px);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn--primary {
    background: var(--gradient-btn-default);
    border: 2px solid #FCEEF9;
    color: var(--color-white);
    border-radius: 50%;
    width: clamp(71px, 7.396vw, 142px);
    height: clamp(71px, 7.396vw, 142px);
}

.btn--primary:hover {
    background: var(--gradient-btn-hover);
    transform: rotate(-22deg) scale(1.05);
}

.btn--primary span {
    font-weight: 600;
    font-size: clamp(8.000px, 0.833vw, 16.000px);
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.btn--icon {
    width: clamp(21.000px, 2.188vw, 42.000px);
    height: clamp(21.000px, 2.188vw, 42.000px);
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    transition: border-color 0.3s ease;
}

.btn--icon:hover {
    border-color: var(--color-primary-darkest);
}

.btn--icon img {
    width: clamp(12.000px, 1.250vw, 24.000px);
    height: clamp(12.000px, 1.250vw, 24.000px);
}

/* ==========================================================================
   5. СТИЛИ СЕКЦИЙ
   ========================================================================== */

/* --- Шапка --- */
.site-header {
    position: fixed;
    top: clamp(10.000px, 1.042vw, 20.000px);
    left: 50%;
    transform: translateX(-50%);
    width: clamp(750.000px, 78.125vw, 1500.000px);
    height: clamp(40.000px, 4.167vw, 80.000px);
    background: rgba(95, 38, 138, 0.1);
    box-shadow: 0px 4px 6px rgba(19, 3, 32, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: clamp(7.500px, 0.781vw, 15.000px);
    z-index: 1000;
    padding: 0 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-nav__group {
    display: flex;
    align-items: center;
    gap: clamp(8.500px, 0.885vw, 17.000px);
}

.header-logo {
    margin: 0 20px;
}

.header-logo img {
    height: clamp(27.000px, 2.812vw, 54.000px);
}

.nav-separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-separator img {
    width: clamp(6.000px, 0.625vw, 12.000px);
    height: clamp(6.000px, 0.625vw, 12.000px);
    filter: invert(72%) sepia(10%) saturate(1007%) hue-rotate(193deg) brightness(97%) contrast(88%);
}

.arrow-down {
    width: clamp(4.965px, 0.517vw, 9.930px);
    height: clamp(4.500px, 0.469vw, 9.000px);
}

/* Сложная кнопка каталога */
.nav-button--svg {
    position: relative;
    padding: 0;
    border: none;
    background: none;
    width: clamp(79.000px, 8.229vw, 158.000px);
    height: clamp(21.500px, 2.240vw, 43.000px);
}

.nav-button--svg:hover {
    background: none;
    border: none;
}

.nav-button__shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.nav-button__content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding-left: clamp(7.500px, 0.781vw, 15.000px);
}

.nav-button__text {
    font-family: 'Vela Sans', sans-serif;
    font-size: clamp(7.500px, 0.781vw, 15.000px);
    text-transform: uppercase;
    color: var(--color-primary-dark);
    transition: color 0.3s ease;
    padding-left: clamp(16.500px, 1.719vw, 33.000px);
}

.nav-button__icon {
    width: clamp(8.000px, 0.833vw, 16.000px);
    height: clamp(8.000px, 0.833vw, 16.000px);
}

.nav-button__arrow {
    width: clamp(4.965px, 0.517vw, 9.930px);
    height: clamp(4.500px, 0.469vw, 9.000px);
    margin-left: clamp(1.500px, 0.156vw, 3.000px);
}

/* Состояния иконки корзины */
.cart-button {
    background-image: url('../img/icons/bag-hover.svg');
    background-size: clamp(12.000px, 1.250vw, 24.000px) 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-button img {
    transition: opacity 0.3s ease;
}

.cart-button:hover img {
    opacity: 0;
}

.cart-button.has-items {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.cart-button.has-items:hover {
    background-color: #8e5fad;
    border-color: #8e5fad;
}

.cart-button.is-disabled {
    border-color: #909090;
    pointer-events: none;
    opacity: 0.5;
}

/* --- Основная секция (Hero) --- */
.hero-section {
    position: relative;
    width: clamp(960.000px, 100.000vw, 1920.000px);
    height: clamp(540.000px, 58.33vw, 1120.000px);
    margin: 0 auto;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    width: clamp(480.000px, 50.000vw, 960.000px);
    height: 100%;
    right: 0;
    top: 0;
}

.hero-background__dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-primary-darker);
    z-index: 1;
}

.hero-background__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/fon-cosmos.png') no-repeat center center/cover;
    mix-blend-mode: overlay;
    opacity: 0.8;
    z-index: 2;
}

.hero-planet-bg {
    position: absolute;
    width: clamp(523.530px, 54.534vw, 1047.060px);
    height: clamp(523.530px, 54.534vw, 1047.060px);
    left: clamp(218.250px, 22.734vw, 436.500px);
    top: clamp(113.235px, 11.795vw, 226.470px);
    background: var(--gradient-planet);
    border-radius: 50%;
    z-index: 3;
}

.orbits {
    position: absolute;
    width: clamp(750.000px, 78.125vw, 1500.000px);
    height: clamp(750.000px, 78.125vw, 1500.000px);
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: 0;
    z-index: 2;
}

.orbit {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
}

.orbit--outer {
    width: clamp(750.000px, 78.125vw, 1500.000px);
    height: clamp(750.000px, 78.125vw, 1500.000px);
    left: 0;
    top: 0;
    border: 1px solid var(--color-border-light);
}

.orbit--inner {
    width: clamp(631.375px, 65.768vw, 1262.750px);
    height: clamp(631.375px, 65.768vw, 1262.750px);
    left: 6.15vw;
    top: 6.15vw;
    border: 1px solid var(--color-border);
}

.planet {
    position: absolute;
    border-radius: 50%;
}

.planet--1 {
    width: clamp(17.645px, 1.838vw, 35.290px);
    height: clamp(17.645px, 1.838vw, 35.290px);
    left: clamp(55.500px, 5.781vw, 111.000px);
    top: clamp(309.315px, 32.220vw, 618.630px);
    background: var(--gradient-planet-small);
}

.planet--2 {
    width: clamp(10.785px, 1.123vw, 21.570px);
    height: clamp(10.785px, 1.123vw, 21.570px);
    left: clamp(182.500px, 19.010vw, 365.000px);
    top: clamp(115.800px, 12.062vw, 231.600px);
    background: var(--color-primary);
}

.planet--3 {
    width: clamp(10.785px, 1.123vw, 21.570px);
    height: clamp(10.785px, 1.123vw, 21.570px);
    left: clamp(605.000px, 63.021vw, 1210.000px);
    top: clamp(608.335px, 63.368vw, 1216.670px);
    background: var(--color-primary);
}

.planet--4 {
    width: clamp(8.825px, 0.919vw, 17.650px);
    height: clamp(8.825px, 0.919vw, 17.650px);
    left: clamp(533.430px, 55.566vw, 1066.860px);
    top: clamp(33.300px, 3.469vw, 66.600px);
    background: var(--color-planet-gray);
}

.planet--5 {
    width: clamp(7.150px, 0.745vw, 14.300px);
    height: clamp(7.150px, 0.745vw, 14.300px);
    left: clamp(31.400px, 3.271vw, 62.800px);
    top: clamp(216.300px, 22.531vw, 432.600px);
    background: var(--gradient-planet-small);
}

.planet--6 {
    width: clamp(7.845px, 0.817vw, 15.690px);
    height: clamp(7.845px, 0.817vw, 15.690px);
    left: clamp(170.000px, 17.708vw, 340.000px);
    top: clamp(55.000px, 5.729vw, 110.000px);
    background: var(--gradient-planet-small);
}

.planet--7 {
    width: clamp(7.845px, 0.817vw, 15.690px);
    height: clamp(7.845px, 0.817vw, 15.690px);
    left: clamp(156.470px, 16.299vw, 312.940px);
    top: clamp(590.135px, 61.472vw, 1180.270px);
    background: var(--gradient-planet-small);
}

.planet--8 {
    width: clamp(15.685px, 1.634vw, 31.370px);
    height: clamp(15.685px, 1.634vw, 31.370px);
    left: clamp(554.350px, 57.745vw, 1108.700px);
    top: clamp(43.625px, 4.544vw, 87.250px);
    background: var(--gradient-planet-small);
}

.planet--9 {
    width: clamp(15.685px, 1.634vw, 31.370px);
    height: clamp(15.685px, 1.634vw, 31.370px);
    left: clamp(512.355px, 53.370vw, 1024.710px);
    top: clamp(632.845px, 65.921vw, 1265.690px);
    background: var(--gradient-planet-small);
}

.planet--10 {
    width: clamp(6.865px, 0.715vw, 13.730px);
    height: clamp(6.865px, 0.715vw, 13.730px);
    left: clamp(679.900px, 70.823vw, 1359.800px);
    top: clamp(309.805px, 32.271vw, 619.610px);
    background: var(--gradient-planet-small);
}

.planet--11 {
    width: clamp(5.880px, 0.613vw, 11.760px);
    height: clamp(5.880px, 0.613vw, 11.760px);
    left: clamp(639.315px, 66.595vw, 1278.630px);
    top: clamp(107.845px, 11.234vw, 215.690px);
    background: var(--color-primary);
}

.planet--12 {
    width: clamp(8.825px, 0.919vw, 17.650px);
    height: clamp(8.825px, 0.919vw, 17.650px);
    left: clamp(720.900px, 75.094vw, 1441.800px);
    top: clamp(239.000px, 24.896vw, 478.000px);
    background: var(--color-primary);
}

.hero-title-block {
    position: absolute;
    width: clamp(343.500px, 35.781vw, 687.000px);
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: clamp(195.000px, 20.312vw, 390.000px);
    z-index: 10;
}

.hero-title-block__subtitle {
    font-size: clamp(50.000px, 5.208vw, 100.000px);
    line-height: 110%;
    /* Отдельный line-height для этого элемента */
    letter-spacing: -0.02em;
    color: var(--color-primary);
}

.hero-title-block__main {
    background-clip: text !important;
    font-size: clamp(232.500px, 24.219vw, 465.000px);
    background: var(--gradient-title-main);
    line-height: 90%;
    /* ИСПРАВЛЕНИЕ: Возвращаем line-height 80% */
}

.hero-title-cosmos {
    position: absolute;
    width: clamp(326.500px, 34.010vw, 653.000px);
    height: clamp(200.255px, 20.860vw, 400.510px);
    left: clamp(540.000px, 56.250vw, 1080.000px);
    top: clamp(250.000px, 26.042vw, 500.000px);
    z-index: 20;
}

.hero-title-cosmos__fill {
    font-size: clamp(195.000px, 20.312vw, 390.000px);
    background: var(--gradient-title-secondary);
    z-index: 2;
    line-height: 90%;
    position: absolute;
    /* ИСПРАВЛЕНИЕ: Возвращаем line-height 80% */
}

.hero-title-cosmos__stroke {
    font-size: clamp(195.000px, 20.312vw, 390.000px);
    -webkit-text-stroke: 1px rgba(255, 240, 251, 0.75);
    color: transparent;
    top: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(2.500px, 0.260vw, 5.000px);
    z-index: 1;
    line-height: 90%;
    position: absolute;
    /* ИСПРАВЛЕНИЕ: Возвращаем line-height 80% */
}

.hero-description {
    position: absolute;
    width: clamp(143.500px, 14.948vw, 287.000px);
    left: clamp(711.500px, 74.115vw, 1423.000px);
    top: clamp(194.000px, 20.208vw, 388.000px);
    font-size: clamp(10.000px, 1.042vw, 20.000px);
    line-height: 120%;
    text-align: right;
    color: var(--color-bg-light);
    z-index: 10;
}

.hero-signature {
    position: absolute;
    width: clamp(103.000px, 10.729vw, 206.000px);
    height: clamp(69.000px, 7.187vw, 138.000px);
    left: clamp(677.500px, 70.573vw, 1355.000px);
    top: clamp(360.000px, 37.500vw, 720.000px);
    font-family: 'Great Vibes', cursive;
    font-size: clamp(55.000px, 5.729vw, 110.000px);
    line-height: clamp(69.000px, 7.187vw, 138.000px);
    letter-spacing: -0.04em;
    color: #FFF0FB;
    text-shadow: clamp(1.000px, 0.104vw, 2.000px) 3px 0px rgba(46, 9, 74, 0.35);
    transform: rotate(-30deg);
    z-index: 20;
}

.hero-cta-button {
    position: absolute;
    width: clamp(71.000px, 7.396vw, 142.000px);
    height: clamp(71.000px, 7.396vw, 142.000px);
    left: clamp(378.500px, 39.427vw, 757.000px);
    top: clamp(396.600px, 41.312vw, 793.200px);
    transform: rotate(-22deg);
    z-index: 20;
}

.hero-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Чтобы картинки не мешали кликам */
}

.hero-images__bottle-shadow {
    position: absolute;
    width: clamp(152.000px, 15.833vw, 304.000px);
    height: clamp(74.000px, 7.708vw, 148.000px);
    left: 50vw;
    top: 37.29vw;
    background: rgba(53, 16, 95, 0.65);
    filter: blur(75px);
    z-index: 14;
}

.hero-images__bottle {
    position: absolute;
    height: clamp(357.500px, 37.240vw, 715.000px);
    width: clamp(147.395px, 15.354vw, 294.790px);
    left: clamp(406.300px, 42.323vw, 812.600px);
    top: clamp(104.500px, 10.885vw, 209.000px);
    transform: rotate(-16.46deg);
    z-index: 15;
}

.hero-images__balloons {
    position: absolute;
    transform: rotate(15.32deg);
    width: 30.83vw;
    left: 38vw;
    top: -3.94vw;
    z-index: 25;
}

/* ==========================================================================
   6. СЕКЦИЯ "БЕСТСЕЛЛЕР"
   ========================================================================== */

.section {
    position: relative;
    width: clamp(960px, 100vw, 1920px);
    margin: 0 auto;
    /* Убираем общие padding'и, так как позиционирование абсолютное */
}

.bestseller-section {
    height: clamp(450px, 46.875vw, 900px);
    background-color: var(--color-bg-light);
    border-radius: clamp(22.5px, 2.344vw, 45px);
    margin-top: clamp(-40px, -4.167vw, -80px);
    /* Небольшой нахлест на hero-секцию */
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.bestseller-section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 1;
}

/* --- Абсолютное позиционирование основных блоков --- */

.bestseller-text-block {
    position: absolute;
    z-index: 10;
    left: clamp(105px, 10.938vw, 210px);
    top: clamp(75px, 7.813vw, 150px);
    width: clamp(205.5px, 21.406vw, 411px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp(10px, 1.042vw, 20px);
}

.bestseller-center-piece {
    position: absolute;
    z-index: 5;
    width: clamp(390px, 40.625vw, 780px);
    height: clamp(390px, 40.625vw, 780px);
    left: 50%;
    top: clamp(232.000px, 24.167vw, 464.000px);
    transform: translate(-50%, -50%);
}

.bestseller-info-card {
    position: absolute;
    z-index: 10;
    left: clamp(664.5px, 69.219vw, 1329px);
    top: 50%;
    transform: translateY(-50%);
}

/* --- Внутренние стили элементов (остаются почти такими же) --- */

.bestseller-section__pre-title {
    font-size: clamp(8px, 0.833vw, 16px);
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-bg-light);
}

.bestseller-section__title {
    font-size: clamp(50px, 5.208vw, 100px);
    line-height: 90%;
    letter-spacing: -0.02em;
    color: var(--color-primary);
    position: relative;
}

.title-decoration {
    font-family: 'Great Vibes', cursive;
    font-size: clamp(21px, 2.188vw, 42px);
    line-height: 125%;
    color: var(--color-bg-light);
    text-shadow: clamp(0.625px, 0.065vw, 1.250px) 1.87px 0px rgba(46, 9, 74, 0.1);
    transform: rotate(-22deg);
    position: absolute;
    left: clamp(91.500px, 9.531vw, 183.000px);
    top: clamp(56.650px, 5.901vw, 113.300px);
}

.bestseller-section__description {
    font-size: clamp(9px, 0.938vw, 18px);
    line-height: 130%;
    color: var(--color-bg-light);
    width: clamp(176.500px, 18.385vw, 353.000px);
    height: clamp(46.000px, 4.792vw, 92.000px);
}

.bestseller-price-block {
    display: flex;
    align-items: center;
    gap: clamp(15px, 1.563vw, 30px);
    position: relative;
    height: clamp(71px, 7.396vw, 142px);
    width: 100%;
}

.bestseller-price {
    font-size: clamp(36px, 3.75vw, 72px);
    line-height: 90%;
    background: var(--gradient-price);
}

.bestseller-cta-button {
    position: absolute;
    left: clamp(100px, 10.417vw, 200px);
    top: 0;
    width: clamp(71px, 7.396vw, 142px);
    height: clamp(71px, 7.396vw, 142px);
    transform: rotate(-22deg);
}

.bestseller-planet-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: clamp(275px, 28.646vw, 550px);
    height: clamp(275px, 28.646vw, 550px);
    background: linear-gradient(101.31deg, rgba(255, 255, 255, 0.85) 56.09%, #F1DFFF 170.31%);
    backdrop-filter: blur(8.5px);
    border-radius: 50%;
}

.bestseller-orbits {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.bestseller-orbits .orbit--outer {
    width: clamp(390.000px, 40.625vw, 780.000px);
    height: clamp(390.000px, 40.625vw, 780.000px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bestseller-orbits .orbit--inner {
    width: clamp(328px, 34.167vw, 656px);
    height: clamp(328px, 34.167vw, 656px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* --- Планеты для секции "Бестселлер" --- */
.bestseller-orbits .planet {
    position: absolute;
    border-radius: 50%;
}

/* --- Планеты для секции "Бестселлер" (Фиксированное позиционирование) --- */

.bestseller-orbits .planet {
    position: absolute;
    border-radius: 50%;
}

.bestseller-orbits .planet--b1 {
    width: clamp(9.000px, 0.938vw, 18.000px);
    height: clamp(9.000px, 0.938vw, 18.000px);
    left: clamp(29.500px, 3.073vw, 59.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b2 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(97.500px, 10.156vw, 195.000px);
    top: clamp(23.000px, 2.396vw, 46.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b3 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(317.000px, 33.021vw, 634.000px);
    top: clamp(300.000px, 31.250vw, 600.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b4 {
    width: clamp(8.000px, 0.833vw, 16.000px);
    height: clamp(8.000px, 0.833vw, 16.000px);
    left: clamp(290.000px, 30.208vw, 580.000px);
    top: clamp(22.500px, 2.344vw, 45.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b5 {
    /* Ellipse 1076 */
    width: clamp(8.000px, 0.833vw, 16.000px);
    height: clamp(8.000px, 0.833vw, 16.000px);
    left: clamp(298.000px, 31.042vw, 596.000px);
    top: clamp(353.500px, 36.823vw, 707.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b6 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(354.000px, 36.875vw, 708.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
    background: var(--gradient-planet-small);
}

.bestseller-orbits .planet--b7 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(278.000px, 28.958vw, 556.000px);
    top: clamp(56.000px, 5.833vw, 112.000px);
    background: var(--color-primary);
}

.bestseller-orbits .planet--b8 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(379.500px, 39.531vw, 759.000px);
    top: clamp(143.000px, 14.896vw, 286.000px);
    background: var(--color-primary);
}

.bestseller-orbits .planet--b9 {
    width: clamp(6.000px, 0.625vw, 12.000px);
    height: clamp(6.000px, 0.625vw, 12.000px);
    left: clamp(45.000px, 4.688vw, 90.000px);
    top: clamp(324.500px, 33.802vw, 649.000px);
    background: var(--color-primary);
}

.bestseller-orbits .planet--b10 {
    width: clamp(4.000px, 0.417vw, 8.000px);
    height: clamp(4.000px, 0.417vw, 8.000px);
    left: clamp(172.000px, 17.917vw, 344.000px);
    top: clamp(355.500px, 37.031vw, 711.000px);
    background: var(--color-primary);
}

.bestseller-section__bottle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: clamp(342.795px, 35.708vw, 685.59px);
    width: auto;
    z-index: 10;
}

.info-card {
    width: clamp(190.5px, 19.844vw, 381px);
    height: clamp(226.5px, 23.594vw, 453px);
    border: 2px solid rgba(247, 243, 248, 0.6);
    border-radius: clamp(15px, 1.563vw, 30px);
    padding-top: clamp(20px, 4.17vw, 80px);
    padding-left: clamp(20px, 2.08vw, 40px);
    display: flex;
    flex-direction: column;
    gap: clamp(12.5px, 1.302vw, 25px);
}

.info-card__title {
    font-weight: 600;
    font-size: clamp(10px, 1.042vw, 20px);
    line-height: 120%;
    text-transform: uppercase;
    color: #737373;
}

.info-card__item {
    margin-top: clamp(12.5px, 1vw, 25px);
    padding-top: clamp(12.5px, .302vw, 25px);
    display: flex;
    align-items: flex-start;
    gap: clamp(10px, 1.042vw, 20px);
}

.info-card__volume {
    font-size: clamp(36px, 3.75vw, 72px);
    line-height: 100%;
    color: var(--color-primary);
    letter-spacing: -0.02em;
    width: clamp(44.500px, 4.635vw, 89.000px);
    height: clamp(25.000px, 2.604vw, 50.000px);
}

.info-card__text {
    font-size: clamp(8.5px, 0.885vw, 17px);
    line-height: 120%;
    color: var(--color-bg-light);
}

.info-card__item .info-card__text {

    width: clamp(104.500px, 10.885vw, 209.000px);
    height: clamp(31.500px, 3.281vw, 63.000px);
}

.info-card__item.line .info-card__text {
    width: clamp(154.500px, 16.094vw, 309.000px);
    height: clamp(31.500px, 3.281vw, 63.000px);
}

.info-card__item.line {
    border-top: 1px solid rgba(247, 243, 248, 0.25);
    border-bottom: 1px solid rgba(247, 243, 248, 0.25);
    padding-bottom: clamp(12.5px, .302vw, 25px);
}

/* ==========================================================================
   7. СЕКЦИЯ "КАТЕГОРИИ"
   ========================================================================== */

.categories-section {
    position: relative;
    width: clamp(960.000px, 100.000vw, 1920.000px);
    height: clamp(973.500px, 101.406vw, 1947.000px);
    margin: clamp(75.000px, 7.812vw, 150.000px) auto clamp(30.000px, 3.65vw, 70.000px) auto;
    overflow: hidden;
}

/* --- Фоновые элементы --- */
.categories-bg-text {
    position: absolute;
    width: clamp(750.000px, 78.125vw, 1500.000px);
    height: clamp(305.000px, 31.771vw, 610.000px);
    left: clamp(7.500px, 0.781vw, 15.000px);
    top: clamp(124.500px, 12.969vw, 249.000px);
    background: linear-gradient(91.25deg, rgba(121, 239, 255, 0.14) -4.28%, rgba(253, 60, 227, 0.14) 38.62%, rgba(145, 43, 255, 0.14) 82.74%, rgba(0, 149, 255, 0.14) 113.38%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(400.000px, 41.667vw, 800.000px);
    line-height: .9;
    font-weight: 900;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
    transform: scaleX(1.99);
    transform-origin: center;
    white-space: nowrap;
}

.bg-blur {
    position: absolute;
    width: clamp(243.000px, 25.312vw, 486.000px);
    height: clamp(243.000px, 25.312vw, 486.000px);
    background: var(--gradient-title-main);
    filter: blur(1000px);
    z-index: 1;
    border-radius: 50%;
    opacity: .2;

}

.categories-bg-blur--left {
    left: clamp(-6.000px, -0.625vw, -12.000px);
    top: clamp(327.500px, 34.115vw, 655.000px);
}

.categories-bg-blur--right {
    left: clamp(812.500px, 84.635vw, 1625.000px);
    top: clamp(682.000px, 71.042vw, 1364.000px);
    filter: blur(375px);
}

.categories-list-bg {
    position: absolute;
    width: clamp(370.000px, 38.542vw, 740.000px);
    height: clamp(370.000px, 38.542vw, 740.000px);
    left: clamp(426.500px, 44.427vw, 853.000px);
    top: clamp(367.000px, 38.229vw, 734.000px);
    background: #A578C7;
    border-radius: 50%;
    z-index: 5;

}

.categories-section__bottle {
    position: absolute;
    width: clamp(147.500px, 15.365vw, 295.000px);
    height: clamp(330.000px, 34.375vw, 660.000px);
    left: calc(50% - 295px / 2 + 0.5px);
    top: 0;
    z-index: 10;
}

/* --- Карточки категорий --- */
.category-card {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: clamp(6.000px, 0.625vw, 12.000px) 12px 20px;
    gap: clamp(10.000px, 1.042vw, 20.000px);
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    border-radius: clamp(18.500px, 1.927vw, 37.000px);
    z-index: 15;
    text-decoration: none;
    color: var(--color-primary-darkest);
}

.category-card__image {
    width: 100%;
    height: clamp(141.000px, 14.688vw, 282.000px);
    border-radius: clamp(15.000px, 1.562vw, 30.000px);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.category-card__content-wrapper {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: clamp(41.000px, 4.271vw, 82.000px);
    padding-bottom: clamp(5.000px, 0.521vw, 10.000px);
    padding-left: clamp(11.000px, 1.146vw, 22.000px);
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5.5px);
    border-radius: 0px 0px 30px 30px;
    display: flex;
    align-items: flex-end;
}

.category-card__content-wrapper--large {
    height: clamp(69.000px, 7.187vw, 138.000px);
}

.category-card__title {
    font-family: 'Cramaten', sans-serif;
    font-weight: 400;
    font-size: clamp(26.500px, 2.760vw, 53.000px);
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--color-primary-darkest);
}

.category-card__description {
    font-family: 'Vela Sans', sans-serif;
    font-size: clamp(9.000px, 0.938vw, 18.000px);
    line-height: 130%;
    color: var(--color-primary-darkest);
}

.category-card--gellaki p.category-card__description {
    width: clamp(132.000px, 13.750vw, 264.000px);
    height: clamp(57.500px, 5.990vw, 115.000px);
}

/* Позиционирование карточек */
.category-card--bases {
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: clamp(137.000px, 14.271vw, 274.000px);
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(213.000px, 22.188vw, 426.000px);
}

.category-card--glitter {
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: clamp(758.000px, 78.958vw, 1516.000px);
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(213.000px, 22.188vw, 426.000px);
}

.category-card--decor {
    left: clamp(253.000px, 26.354vw, 506.000px);
    top: clamp(760.500px, 79.219vw, 1521.000px);
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(213.000px, 22.188vw, 426.000px);
}

.category-card--gels {
    left: clamp(258.000px, 26.875vw, 516.000px);
    top: clamp(395.000px, 41.146vw, 790.000px);
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(283.000px, 29.479vw, 566.000px);
}

.category-card--gellaki {
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: 0;
    width: clamp(291.000px, 30.312vw, 582.000px);
    height: clamp(350.000px, 36.458vw, 700.000px);
    align-items: flex-end;
}

.category-card--care {
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: clamp(758.000px, 78.958vw, 1516.000px);
    width: clamp(291.000px, 30.312vw, 582.000px);
    height: clamp(213.000px, 22.188vw, 426.000px);
    align-items: flex-end;
}

/* Уникальные стили для карточек */
.category-card--gels .category-card__image {
    height: clamp(220.000px, 22.917vw, 440.000px);
}

.category-card--gellaki .category-card__image {
    width: clamp(279.000px, 29.063vw, 558.000px);
    height: clamp(266.500px, 27.760vw, 533.000px);
}

.category-card--care .category-card__image {
    width: clamp(279.000px, 29.063vw, 558.000px);
    height: clamp(150.000px, 15.625vw, 300.000px);
}

.category-card__bottle-in-image {
    position: absolute;
    height: clamp(179.000px, 18.646vw, 358.000px);
    width: auto;
    left: 50%;
    top: clamp(19.500px, 2.031vw, 39.000px);
    transform: translateX(-50%);
}

/* --- Левый блок с текстом --- */
.categories-intro {
    position: absolute;
    width: clamp(138.000px, 14.375vw, 276.000px);
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: 0px;
    z-index: 20;
}

.categories-intro__pre-title {
    font-size: clamp(8.000px, 0.833vw, 16.000px);
    text-transform: uppercase;
    color: var(--color-primary);
}

.title.categories-intro__title {
    font-size: clamp(50.000px, 5.208vw, 100.000px);
    line-height: 100%;
    color: var(--color-primary);
    letter-spacing: -0.02em;
    height: clamp(35.000px, 3.646vw, 70.000px);
    padding-top: clamp(5.000px, 0.521vw, 10.000px);
}

.categories-intro__description {
    font-size: clamp(9.000px, 0.938vw, 18.000px);
    line-height: 130%;
    color: var(--color-primary-darkest);
    margin-top: clamp(18.000px, 1.875vw, 36.000px);
}

.categories-intro__decoration-wrapper {
    position: absolute;
    left: clamp(35.000px, 3.646vw, 70.000px);
    top: clamp(49.000px, 5.104vw, 98.000px);
    transform: rotate(-20deg);
    z-index: 1;
    pointer-events: none;
    /* Чтобы текст не перекрывал клики */
}

.categories-intro__decoration {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(21.000px, 2.188vw, 42.000px);
    text-shadow: clamp(0.625px, 0.065vw, 1.250px) 1.87px 0px rgba(46, 9, 74, 0.1);
}

.categories-intro__decoration.stroke {
    color: transparent;
    -webkit-text-stroke: clamp(1.000px, 0.104vw, 2.000px) #FF03B5;
    z-index: 1;
}

.categories-intro__decoration.fill {
    color: var(--color-bg-light);
    z-index: 2;
}

/* --- Правый список категорий --- */
.category-list-wrapper {
    position: absolute;
    width: clamp(291.000px, 30.312vw, 582.000px);
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: clamp(395.000px, 41.146vw, 790.000px);
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: clamp(20.000px, 2.083vw, 40.000px);
}

.category-list__main-title {
    font-size: clamp(50.000px, 5.208vw, 100.000px);
    line-height: 80%;
    color: var(--color-white);
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: clamp(10.000px, 1.042vw, 20.000px);
    width: 100%;
}

.category-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(45, 14, 69, 0.4);
    padding-top: clamp(10.000px, 1.042vw, 20.000px);
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    height: clamp(35.645px, 3.713vw, 71.290px);
    flex: none;
}

.category-list:last-child {
    border-bottom: 1px solid rgba(45, 14, 69, 0.4);
    padding-bottom: clamp(5.000px, 0.521vw, 10.000px);
}

.category-list__item-title {
    font-family: 'Cramaten', sans-serif;
    font-size: clamp(26.500px, 2.760vw, 53.000px);
    line-height: 105%;
    text-transform: uppercase;
    color: var(--color-white);
}

/* --- Кнопка внизу --- */
.categories-cta-button {
    position: absolute;
    width: clamp(71.000px, 7.396vw, 142.000px);
    height: clamp(71.000px, 7.396vw, 142.000px);
    left: clamp(444.715px, 46.324vw, 889.430px);
    top: clamp(786.000px, 81.875vw, 1572.000px);
    transform: rotate(-22deg);
    z-index: 20;
}

.categories-cta-button span {
    text-align: center;
}

/* ==========================================================================
   8. СЕКЦИЯ "НОВИНКИ"
   ========================================================================== */

.new-arrivals-section {
    position: relative;
    width: clamp(960.000px, 100.000vw, 1920.000px);
    height: clamp(634.500px, 66.094vw, 1269.000px);
    margin: 0 auto;
}

/* --- Фоновые элементы --- */
.new-arrivals-bg-blur {
    position: absolute;
    width: clamp(243.000px, 25.312vw, 486.000px);
    height: clamp(243.000px, 25.312vw, 486.000px);
    left: clamp(7.000px, 0.729vw, 14.000px);
    top: clamp(358.500px, 37.344vw, 717.000px);
    background: var(--gradient-title-main);
    filter: blur(450px);
    z-index: 1;
}

.new-arrivals-line-separator {
    position: absolute;
    width: clamp(750.000px, 78.125vw, 1500.000px);
    height: 1px;
    left: calc(50% - 39.062vw);
    top: clamp(672.500px, 70.052vw, 1345.000px);
    background-color: var(--color-primary);
}

/* --- Заголовок секции --- */
.new-arrivals-intro {
    position: absolute;
    width: clamp(242.000px, 25.208vw, 484.000px);
    height: clamp(142.500px, 14.844vw, 285.000px);
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: 0;
    z-index: 10;
}

.new-arrivals-intro__pre-title {
    font-size: clamp(8.000px, 0.833vw, 16.000px);
    text-transform: uppercase;
    color: var(--color-primary);
}

.new-arrivals-intro__title {
    font-size: clamp(50.000px, 5.208vw, 100.000px);
    line-height: 90%;
    color: var(--color-primary);
    margin-top: clamp(10.000px, 1.042vw, 20.000px);
    letter-spacing: -0.02em;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.new-arrivals-intro__description {
    font-size: clamp(9.000px, 0.938vw, 18.000px);
    line-height: 130%;
    color: var(--color-primary-darkest);
    width: clamp(176.500px, 18.385vw, 353.000px);
}

.new-arrivals-intro__decoration-wrapper {
    position: absolute;
    left: clamp(58.000px, 6.042vw, 116.000px);
    top: clamp(62.500px, 6.510vw, 125.000px);
    transform: rotate(-20deg);
    z-index: 1;
}

.new-arrivals-intro__decoration {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(21.000px, 2.188vw, 42.000px);
    text-shadow: clamp(0.625px, 0.065vw, 1.250px) 1.87px 0px rgba(46, 9, 74, 0.1);
}

.new-arrivals-intro__decoration.stroke {
    color: transparent;
    -webkit-text-stroke: clamp(1.000px, 0.104vw, 2.000px) #FF03B5;
    z-index: 1;
}

.new-arrivals-intro__decoration.fill {
    color: var(--color-bg-light);
    z-index: 2;
}


/* --- Карточка товара --- */
.product-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--color-white);
    border-radius: clamp(17.500px, 1.823vw, 35.000px);
    text-decoration: none;
    z-index: 5;
    overflow: hidden;
    /* Чтобы скруглить изображение внутри */
}

.product-card__image {
    width: 100%;
    height: clamp(281.000px, 29.271vw, 562.000px);
    background-size: cover;
    background-position: center;
    border-radius: clamp(17.500px, 1.823vw, 35.000px);
}

.product-card__info {
    display: flex;
    flex-direction: column;
    gap: clamp(10.000px, 1.042vw, 20.000px);
    padding: clamp(10.000px, 1.042vw, 20.000px) 15px 0 15px;
}

.product-card__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card__category {
    font-size: clamp(7.500px, 0.781vw, 15.000px);
    font-weight: 500;
    text-transform: uppercase;
    color: #909090;
    padding-top: clamp(2.000px, 0.208vw, 4.000px);
}

.product-card__volume {
    font-size: clamp(9.000px, 0.938vw, 18.000px);
    color: var(--color-primary-darkest);
}

.product-card__name {
    font-size: clamp(13.000px, 1.354vw, 26.000px);
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-primary-darkest);
}

.product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(10.000px, 1.042vw, 20.000px) 15px 15px 15px;
    margin-top: auto;
    /* Прижимаем футер к низу */
}

.product-card__price {
    font-size: clamp(16.000px, 1.667vw, 32.000px);
    font-weight: 400;
    color: var(--color-primary);
    letter-spacing: -0.01em;
}

.product-card__actions {
    display: flex;
    gap: clamp(10.000px, 1.042vw, 20.000px);
}

/* Модификаторы для карточек */
.product-card--large {
    width: clamp(291.000px, 30.312vw, 582.000px);
    height: clamp(363.500px, 37.865vw, 727.000px);
}

.product-card--small {
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(247.000px, 25.729vw, 494.000px);
}

.product-card--small .product-card__image {
    height: clamp(148.000px, 15.417vw, 296.000px);
}

/* Позиционирование карточек */
.product-card--blush-cloud {
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: clamp(184.000px, 19.167vw, 368.000px);
    /* 4480 - 4112 */
}

.product-card--latte-nude-set {
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: 0;
}

.product-card--latte-nude-solo {
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: clamp(388.000px, 40.417vw, 776.000px);
    /* 4888 - 4112 */
}

/* Переиспользование класса кнопки с иконкой */
.btn.btn--icon-not-round {
    width: clamp(24.000px, 2.500vw, 48.000px);
    height: clamp(24.000px, 2.500vw, 48.000px);
    border: none;
    background-color: transparent;
}

.btn--icon-round:hover {
    border-color: var(--color-primary-dark);
}

.btn--primary-fill {
    background-color: var(--color-primary);
    width: clamp(24.000px, 2.500vw, 48.000px);
    height: clamp(24.000px, 2.500vw, 48.000px);
    border: 1.5px solid var(--color-primary);
    border-radius: 50%;
}

.btn--primary-fill:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

/* ==========================================================================
   10. СЕКЦИЯ "КАТАЛОГ"
   ========================================================================== */

.catalog-section {
    position: relative;
    width: clamp(960.000px, 100.000vw, 1920.000px);
    height: clamp(1165.000px, 121.354vw, 2330.000px);
    overflow: hidden;
    z-index: 1;
}

/* --- Фоновые элементы --- */
.catalog-section__bg-wave {
    position: absolute;
    width: clamp(1497.000px, 155.938vw, 2994.000px);
    height: clamp(1130.000px, 117.708vw, 2260.000px);
    left: clamp(-433.500px, -45.156vw, -867.000px);
    top: clamp(119.000px, 12.396vw, 238.000px);
    /* 5770 - 5532 */
    background: url('../img/background-wave.png') no-repeat;
    background-size: contain;
    transform: rotate(-16.15deg);
    z-index: -1;
}

.catalog-bg-blur--right {
    left: clamp(552.000px, 57.500vw, 1104.000px);
    top: clamp(740.500px, 77.135vw, 1481.000px);
    width: clamp(313.000px, 32.604vw, 626.000px);
    height: clamp(313.000px, 32.604vw, 626.000px);
    background: #A578C7;
    filter: blur(350px);
    opacity: 0.2;
}

/* --- Заголовок секции --- */
.catalog-intro {
    position: absolute;
    width: clamp(212.000px, 22.083vw, 424.000px);
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: 0;
    z-index: 10;
}

.catalog-intro__pre-title {
    font-size: clamp(8.000px, 0.833vw, 16.000px);
    text-transform: uppercase;
    color: var(--color-primary);
}

.catalog-intro__title {
    font-size: clamp(50.000px, 5.208vw, 100.000px);
    line-height: 90%;
    color: var(--color-primary);
    margin-top: clamp(10.000px, 1.042vw, 20.000px);
}

.catalog-intro__description {
    font-size: clamp(9.000px, 0.938vw, 18.000px);
    line-height: 130%;
    color: var(--color-primary-darkest);
    margin-top: clamp(10.000px, 1.042vw, 20.000px);
    width: clamp(176.500px, 18.385vw, 353.000px);
}

.catalog-intro__decoration-wrapper {
    position: absolute;
    left: clamp(76.500px, 7.969vw, 153.000px);
    top: clamp(65.000px, 6.771vw, 130.000px);
    transform: rotate(-20deg);
    z-index: 2;
    width: clamp(100.000px, 10.417vw, 200.000px);
}

.catalog-intro__decoration {
    position: absolute;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(21.000px, 2.188vw, 42.000px);
    text-shadow: clamp(0.625px, 0.065vw, 1.250px) 1.87px 0px rgba(46, 9, 74, 0.1);
}

/* Стили для обводки и заливки текста "у зірках" */
.catalog-intro__decoration.stroke {
    color: transparent;
    -webkit-text-stroke: clamp(1.000px, 0.104vw, 2.000px) #FF03B5;
    z-index: 1;
}

.catalog-intro__decoration.fill {
    color: var(--color-bg-light);
    z-index: 2;
}


/* --- Сетка товаров --- */
.catalog-grid {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Позиционирование карточек товаров внутри секции */
.product-card--milky-way {
    left: clamp(105.000px, 10.938vw, 210.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
}

.product-card--peach-glow {
    left: clamp(258.000px, 26.875vw, 516.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
}

.product-card--vega-placeholder {
    position: absolute;
    left: clamp(411.000px, 42.812vw, 822.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
    width: clamp(138.000px, 14.375vw, 276.000px);
    height: clamp(247.000px, 25.729vw, 494.000px);
    border-radius: clamp(17.500px, 1.823vw, 35.000px);
}

.product-card--crystal-nude {
    left: clamp(717.000px, 74.688vw, 1434.000px);
    top: clamp(161.000px, 16.771vw, 322.000px);
}

.product-card--latte-nude-catalog {
    left: clamp(258.000px, 26.875vw, 516.000px);
    top: clamp(423.000px, 44.062vw, 846.000px);
}

.product-card--blush-cloud-catalog {
    left: clamp(411.000px, 42.812vw, 822.000px);
    top: clamp(423.000px, 44.062vw, 846.000px);
}

.product-card--berry-chic {
    left: clamp(258.000px, 26.875vw, 516.000px);
    top: clamp(801.500px, 83.490vw, 1603.000px);
}

.product-card--unicorn-pearl {
    left: clamp(564.000px, 58.750vw, 1128.000px);
    top: clamp(801.500px, 83.490vw, 1603.000px);
}


/* --- Кнопка внизу --- */
.catalog-cta-button {
    position: absolute;
    width: clamp(71.000px, 7.396vw, 142.000px);
    height: clamp(71.000px, 7.396vw, 142.000px);
    left: calc(50% - 142px / 2 + 575px);
    top: clamp(859.000px, 89.479vw, 1718.000px);
    /* 7250 - 5532 */
    transform: rotate(-22deg);
    z-index: 20;
}

.catalog-cta-button span {
    transform: rotate(22deg);
    /* Компенсируем наклон */
}